.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controles {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.boton {
  font-size: large;
  border: none;
  background-color: rgb(31, 70, 161);
  color: white;
  padding: 15px;
  border-radius: 12px;
}

.numero {
  margin: 0 10px;
}
